.App  {
  text-align: center;
}

.container {
  margin:0 auto;
  width: 60%;
  justify-content: space-around;
  height: 20px;
  display: flex;
}
.user-list {
  list-style-type: none;
}


.input {
  display: flex;
}

.input > p {
  margin: 0;
}